#footer{
  background-color: rgb(33, 37, 41);
  /*Fuente*/
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  display: flex;
  justify-content: space-around;
  animation-name: entrada;
  animation-duration: 2s;
}